@page
@model OurCarZ.Pages.ChosenRouteModel
@{
}
<center>
    <h1>Choose route</h1>
    <h2>Are you sure you want to join this route?</h2>
</center>

@* Map Section *@
<div class="text-center">

    <h1 id="demo" class="display-4"></h1>
    <div id="myMap" style="
        position: center;
        margin: auto;
        width: 400px;
        height: 400px;
        ">
    </div>
</div>

<script type='text/javascript'>
    var map, directionsManager;

    //var MapStyle = {
    //    "elements": {
    //        "water": { "fillColor": "Darkblue" },
    //        "area": { "fillColor": "#115166" },
    //        "majorRoad": {
    //            "strokeColor": "#157399",
    //            "fillColor": "#000000"
    //        },
    //        "mapElement": { "fillColor": "#115166" }
    //    },
    //    "version": "1.0",
    //    "settings": { "landColor": "#0B334D"}
    //};

    function GetMap() {
        map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AlLVvMQ7ncFUH_ZyTOTAmH0sSZvoejNtcn9OmuOtPXjsvfiRkwCDM0GFX2wNU0R0',
            /*customMapStyle: MapStyle*/
        });

        //Load the directions module.
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
            //Create an instance of the directions manager.
            directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);



            //Create waypoints to route between.
            @if (Model.myRoute != null)
            {
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: '@Html.Raw(Model.StartPoint)' }));
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: '@Html.Raw(Model.FinishPoint)' }));
            }
            else
            {
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: 'Roskilde, Dk' }));
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: 'København, Dk' }));
            }

            //Set the request options that avoid highways and uses kilometers.
            directionsManager.setRequestOptions({
                distanceUnit: Microsoft.Maps.Directions.DistanceUnit.km,
                routeAvoidance: [Microsoft.Maps.Directions.RouteAvoidance.avoidLimitedAccessHighway]
            });

            //Make the route line thick and green. Replace the title of waypoints with an empty string to hide the default text that appears.
            directionsManager.setRenderOptions({
                drivingPolylineOptions: {
                    strokeColor: 'Red',
                    strokeThickness: 4
                },
                waypointPushpinOptions: {
                    title: ''
                }
            });
            directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });
            //Calculate directions.
            directionsManager.calculateDirections();
        });
    }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
@* Map Section *@
<br/>
<center>
<a asp-route-page="/Rating/RatingPage"
   class="btn btn-success btn-group-lg pull-right">
    Yes
</a>
<a asp-route-page="/Routes"
   class="btn btn-success btn-group-lg pull-left">
    No
</a>
@foreach (var add in Model.currentAddress)
{
    if (add.AddressId.Equals(Model.myRoute.StartPoint))
    {

        <p>From: @add.RoadName at @Model.myRoute.StartTime</p>
    }
}
@foreach (var add in Model.EndAddress)
{
    if (add.AddressId.Equals((Model.myRoute.FinishPoint)))
    {
        <p>To: @add.RoadName arrival at @Model.myRoute.ArrivalTime</p>
    }
}
<p>Driver: @Model.Driver.FirstName @Model.Driver.LastName</p>

<p>Seats left: 0/4 (non functional)</p>

<a asp-route-page="/SendMessage" asp-route-id="@Model.CurrentUser.UserId" asp-route-id2="@Model.myRoute.UserId" asp-route-id3="@Model.CurrentUser.UserId"
   class="btn btn-success btn-group-lg pull-right">
    Message driver
</a>

@* Make this work at some point? *@
<a asp-route-page="/SendMessage" asp-route-id="@Model.CurrentUser.UserId"
   class="btn btn-success btn-group-lg pull-right">
    Make pickup point
</a>
</center>