@page
@model OurCarZ.Pages.ChosenRouteModel
@{
}
<h1>Choose route</h1>
<h2>Are you sure you want to join this route?</h2>


@* Make yes do something lol *@
<a asp-route-page="/Rating/RatingPage"
   class="btn btn-success btn-group-lg pull-right">
    Yes
</a>
<a asp-route-page="/Routes"
   class="btn btn-success btn-group-lg pull-right">
    No
</a>
@foreach (var add in Model.currentAddress)
{
    if (add.AddressId.Equals(Model.myRoute.StartPoint))
    {

        <p>From: @add.RoadName at @Model.myRoute.StartTime</p>
    }
}
@foreach (var add in Model.EndAddress)
{
    if (add.AddressId.Equals((Model.myRoute.FinishPoint)))
    {
        <p>To: @add.RoadName arrival at @Model.myRoute.ArrivalTime</p>
    }
}
<p>Driver: @Model.Driver.FirstName @Model.Driver.LastName</p>

<p>Seats left: 0/4 (non functional)</p>
@*<p>massive picture of a route which we dont have working</p>
    <p>From: @Model.ChosenRoute.RouteId </p>
    <p>Destination: </p>
    <p>departure time: @Model.ChosenRoute.StartTime</p>
    <p>arrival time: @Model.ChosenRoute.ArrivalTime</p>
    <p>seats left: 0/4</p>
    <p>Date: @Model.ChosenRoute.Star*@<!--tTime</p>-->


<a asp-route-page="/SendMessage" asp-route-id="@Model.CurrentUser.UserId" asp-route-id2="@Model.myRoute.UserId" asp-route-id3="@Model.CurrentUser.UserId"
   class="btn btn-success btn-group-lg pull-right">
    Message driver
</a>

@* Make this work at some point? *@
<a asp-route-page="/SendMessage" asp-route-id="@Model.CurrentUser.UserId"
   class="btn btn-success btn-group-lg pull-right">
    Make pickup point
</a>


