@page
@using OurCarZ.Pages.UserPages
@model OurCarZ.Pages.ChosenRouteModel
@{
}

@* Map Section *@

<script type='text/javascript'>
    var map, directionsManager;

    //var MapStyle = {
    //    "elements": {
    //        "water": { "fillColor": "Darkblue" },
    //        "area": { "fillColor": "#115166" },
    //        "majorRoad": {
    //            "strokeColor": "#157399",
    //            "fillColor": "#000000"
    //        },
    //        "mapElement": { "fillColor": "#115166" }
    //    },
    //    "version": "1.0",
    //    "settings": { "landColor": "#0B334D"}
    //};

    function GetMap() {
        map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AlLVvMQ7ncFUH_ZyTOTAmH0sSZvoejNtcn9OmuOtPXjsvfiRkwCDM0GFX2wNU0R0',
            /*customMapStyle: MapStyle*/
        });

        //Load the directions module.
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
            //Create an instance of the directions manager.
            directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);



            //Create waypoints to route between.
            @if (Model.myRoute != null)
            {
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: '@Html.Raw(Model.StartPoint)' }));
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: '@Html.Raw(Model.FinishPoint)' }));
            }
            else
            {
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: 'Roskilde, Dk' }));
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: 'København, Dk' }));
            }

            //Set the request options that avoid highways and uses kilometers.
            directionsManager.setRequestOptions({
                distanceUnit: Microsoft.Maps.Directions.DistanceUnit.km,
                routeAvoidance: [Microsoft.Maps.Directions.RouteAvoidance.avoidLimitedAccessHighway]
            });

            //Make the route line thick and green. Replace the title of waypoints with an empty string to hide the default text that appears.
            directionsManager.setRenderOptions({
                drivingPolylineOptions: {
                    strokeColor: 'Red',
                    strokeThickness: 4
                },
                waypointPushpinOptions: {
                    title: ''
                }
            });
            directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });
            //Calculate directions.
            directionsManager.calculateDirections();
        });
    }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
@* Map Section *@
<br />
<div class="form-container">
    <center>
        <div class="text-center">

            <h1 id="demo" class="display-4"></h1>
            <div id="myMap" style="
        position: center;
        margin: auto;
        width: 100%;
        height: 50vh;
        ">
            </div>
            @foreach (var add in Model.currentAddress)
            {
                if (add.AddressId.Equals(Model.myRoute.StartPoint))
                {

                    <p>From: @add.RoadName at @Model.myRoute.StartTime</p>
                }
            }
            @foreach (var add in Model.EndAddress)
            {
                if (add.AddressId.Equals((Model.myRoute.FinishPoint)))
                {
                    <p>To: @add.RoadName arrival at @Model.myRoute.ArrivalTime</p>
                }
            }
            <p>Driver: @Model.Driver.FirstName @Model.Driver.LastName</p>

            <table>
                <form method="post">
                    <a asp-route-routeId="@Model.myRoute.RouteId">
                        <button type="submit" class="btn btn-success btn-group-lg pull-left">yes</button>
                    </a>
                </form>
                <a asp-route-page="/Routes"
                   class="btn btn-success btn-group-lg pull-left">
                    No
                </a>
                <a asp-route-page="/PickaPath" asp-route-id="@Model.myRoute.RouteId"
                   class="btn btn-success btn-group-lg border-left">
                    Make pickup point
                </a>

            </table>
            <p><b>If you want to choose this route and have a reasonable pickup point in mind, press Make pickup point</b></p>
            <p><b>If you want to message the driver about something, press yes, go to your profile in the the top right corner, choose My routes and press the drivers name.</b></p>
            <p><b>If you want to go back to Routes press no.</b></p>
    </center>
</div>
