@page
@model OurCarZ.Pages.ChosenRouteModel
@{
}
<h1>Choose route</h1>
<h2>Are you sure you want to join this route?</h2>

<head>
    <title></title>
    <meta charset="utf-8" />
    <script type='text/javascript'>
        var map, directionsManager;

        function GetMap()
        {
            map = new Microsoft.Maps.Map('#myMap', {});

            //Load the directions module.
            Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
                //Create an instance of the directions manager.
                directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);

                //Specify where to display the route instructions.
                directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });

                //Specify the where to display the input panel
                directionsManager.showInputPanel('directionsPanel');
            });
        }

        function GetDirections() {
            //Clear any previously calculated directions.
            directionsManager.clearAll();
            directionsManager.clearDisplay();

            //Create waypoints to route between.
            var start = new Microsoft.Maps.Directions.Waypoint({ address: '@*@Html.Raw(Model.AModel)*@ Roskilde, Dk'});
            directionsManager.addWaypoint(start);

            var end = new Microsoft.Maps.Directions.Waypoint({ address: '@*@Html.Raw(Model.AModel)*@ København, Dk' });
            directionsManager.addWaypoint(end);

            //Calculate directions.
            directionsManager.calculateDirections();
        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
</head>


<a asp-route-page="/Rating/RatingPage"
   class="btn btn-success btn-group-lg pull-right">
    Yes
</a>
<a asp-route-page="/Routes"
   class="btn btn-success btn-group-lg pull-right">
    No
</a>
@foreach (var add in Model.currentAddress)
{
    if (add.AddressId.Equals(Model.myRoute.StartPoint))
    {

        <p>From: @add.RoadName at @Model.myRoute.StartTime</p>
    }
}
@foreach (var add in Model.EndAddress)
{
    if (add.AddressId.Equals((Model.myRoute.FinishPoint)))
    {
        <p>To: @add.RoadName arrival at @Model.myRoute.ArrivalTime</p>
    }
}
<p>Driver: @Model.Driver.FirstName @Model.Driver.LastName</p>

<p>Seats left: 0/4 (non functional)</p>

<a asp-route-page="/SendMessage" asp-route-id="@Model.CurrentUser.UserId" asp-route-id2="@Model.myRoute.UserId" asp-route-id3="@Model.CurrentUser.UserId"
   class="btn btn-success btn-group-lg pull-right">
    Message driver
</a>

@* Make this work at some point? *@
<a asp-route-page="/SendMessage" asp-route-id="@Model.CurrentUser.UserId"
   class="btn btn-success btn-group-lg pull-right">
    Make pickup point
</a>
