@page
@using OurCarZ.Model
@using OurCarZ.Pages.UserPages
@model OurCarZ.Pages.CreateRouteModel
@{
}
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type='text/javascript'>
        var map, directionsManager;

        function GetMap() {
            map = new Microsoft.Maps.Map('#myMap', {
                credentials: 'AlLVvMQ7ncFUH_ZyTOTAmH0sSZvoejNtcn9OmuOtPXjsvfiRkwCDM0GFX2wNU0R0',
                /*customMapStyle: MapStyle*/
            });

            //Load the directions module.
            Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
                //Create an instance of the directions manager.
                directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);

                //Specify where to display the route instructions.
                directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });

                //Specify the where to display the input panel
                directionsManager.showInputPanel('directionsPanel');
            });
        }

        function GetDirections() {
            //Clear any previously calculated directions.
            directionsManager.clearAll();
            directionsManager.clearDisplay();

            //Create waypoints to route between.
            var start = new Microsoft.Maps.Directions.Waypoint({ address: document.getElementById('fromTbx').value + '\xa0' + document.getElementById('fromZIP').value });
            
            directionsManager.addWaypoint(start);

            var end = new Microsoft.Maps.Directions.Waypoint({ address: document.getElementById('toTbx').value + '\xa0' + document.getElementById('toZIP').value });

            directionsManager.addWaypoint(end);

            //Calculate directions.
            directionsManager.calculateDirections();
        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer>
    </script>
</head>

<body onload="GetDirections()">
    <div class="form-container">
        @if (UserPages.LogInPageModel.LoggedInUser != null && UserPages.LogInPageModel.LoggedInUser.LicensePlate != null)
        {

            <form method="post">
                <div id="myMap" style="position: relative; width: 100%; height: 50vh;"></div>
                <div style="margin-top: 10px;">
                    <h3 class="ml-0">From:</h3>
                    <label asp-for="@Model.StartAddress.RoadName"></label>
                    <input class="default-form" asp-for="@Model.StartAddress.RoadName" id="fromTbx" type="text" />
                    <span asp-validation-for="StartAddress.RoadName"></span> <br>

                    <label asp-for="@Model.StartAddress.ZipCode"></label>
                    <input class="default-form" asp-for="@Model.StartAddress.ZipCode" id="fromZIP" type="text" />
                    <span asp-validation-for="StartAddress.ZipCode"></span> <br><br />
                    <h3 class="ml-0">To: </h3>
                    <label asp-for="@Model.EndAddress.RoadName"></label>
                    <input class="default-form" asp-for="@Model.EndAddress.RoadName" id="toTbx" type="text" />
                    <span asp-validation-for="EndAddress.RoadName"></span> <br>

                    <label asp-for="@Model.EndAddress.ZipCode"> To Zipcode: </label>
                    <input asp-for="@Model.EndAddress.ZipCode" id="toZIP" class="default-form" type="text" />
                    <span asp-validation-for="EndAddress.ZipCode"></span> <br>

                    <label asp-for="@Model.StartTime">Start time:</label>
                    <input asp-for="@Model.StartTime" class="default-form" type="text" value="@Model.Tomorrow" />
                    <span asp-validation-for="StartTime"></span> <br>
                    <br />
                    <div style="color: var(--font-color)"><b>Remember to write the name or zipcode of the city. One of the addresses need to be a Zealand institution</b></div>
                    <br />
                    <input type="submit" value="Calculate" class="ubutton" />
                </div>
            
        </form>
        <br />
        @if(Model.Route != null)
        {
    <form>
        <a class="ubutton" asp-route-routeId="@Model.Route.RouteId" asp-route-startAddressId="@Model.StartAddress.AddressId" asp-route-endAddressId="@Model.EndAddress.AddressId" asp-page="/DrivePage" onclick="return confirm('Are you sure you want to continue?')" style="text-align: center">
            Confirm Route
        </a>
    </form>
                }
       
    }
    else if (UserPages.LogInPageModel.LoggedInUser == null)
    {
        <p>You appear to not be logged in. To access this feature, please login first.</p>
    }
    else if (UserPages.LogInPageModel.LoggedInUser.LicensePlate == null) 
    {
        <p>You appear to not have a license plate connected to your account. To add a route, please first add a your car's license plate in your profile.</p>
    }
</body>
</html>