@page
@using OurCarZ.Model
@using OurCarZ.Pages.UserPages
@model OurCarZ.Pages.CreateRouteModel
@{
}
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type='text/javascript'>
        var map, directionsManager;

        function GetMap() {
            map = new Microsoft.Maps.Map('#myMap', {
                credentials: 'AlLVvMQ7ncFUH_ZyTOTAmH0sSZvoejNtcn9OmuOtPXjsvfiRkwCDM0GFX2wNU0R0',
                /*customMapStyle: MapStyle*/
            });

            //Load the directions module.
            Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
                //Create an instance of the directions manager.
                directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);

                //Specify where to display the route instructions.
                directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });

                //Specify the where to display the input panel
                directionsManager.showInputPanel('directionsPanel');
            });
        }

        function GetDirections() {
            //Clear any previously calculated directions.
            directionsManager.clearAll();
            directionsManager.clearDisplay();

            //Create waypoints to route between.
            var start = new Microsoft.Maps.Directions.Waypoint({ address: document.getElementById('fromTbx').value });
            directionsManager.addWaypoint(start);

            var end = new Microsoft.Maps.Directions.Waypoint({ address: document.getElementById('toTbx').value });
            directionsManager.addWaypoint(end);

            //Calculate directions.
            directionsManager.calculateDirections();
        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer>
    </script>
</head>
<body onload="GetDirections()">
<form method="post">
    <div id="myMap" style="position: relative; width: 800px; height: 600px;"></div>

    <div style="margin-top: 10px;">
        <label asp-for="@Model.StartAddress.RoadName" class="custom-control-label"></label>
        From: <input asp-for="@Model.StartAddress.RoadName" id="fromTbx" type="text" />
        <span asp-validation-for="StartAddress.RoadName"></span>

        <label asp-for="@Model.StartAddress.ZipCode" class="custom-control-label"></label>
        <input asp-for="@Model.StartAddress.ZipCode" id="fromTbx" type="text" />
        <span asp-validation-for="StartAddress.ZipCode"></span>

        <label asp-for="@Model.EndAddress.RoadName" class="custom-control-label"></label>
        To: <input asp-for="@Model.EndAddress.RoadName" id="toTbx" type="text" />
        <span asp-validation-for="EndAddress.RoadName"></span>

        <label asp-for="@Model.EndAddress.ZipCode" class="custom-control-label"></label>
        <input asp-for="@Model.EndAddress.ZipCode" id="toTbx" type="text" />
        <span asp-validation-for="EndAddress.ZipCode"></span>

        <label asp-for="@Model.StartTime" class="custom-control-label"></label>
        <input asp-for="@Model.StartTime" id="toTbx" type="text" name="dateOfRoute" id="dateOfRoute" value="@Model.Time" />
        <span asp-validation-for="StartTime"></span>

        <input type="submit" value="Calculate" />
    </div>
    <div><b>Remember to write the zipcode of the city and the start address or the arrival address have to be a Zealand institution</b></div>
</form>

<a  type="submit" asp-route-routeId="" asp-page="/DrivePage" onclick="return confirm('Are you sure you want to continue?')">On to Drive Page</a>

</body>
</html>