@page
@using Microsoft.VisualBasic
@using OurCarZ.Pages.UserPages
@model OurCarZ.Pages.DrivePageModel
@{
}
<div class="item-container">
    <br/>

    @if (Model.CurrentUser != null)
    {
        <h3>Hello @Model.CurrentUser.FirstName @Model.CurrentUser.LastName Thank you for making this route.</h3><br/>
        <p>From: @Model.StartAddress.RoadName</p>
        <p>Via: </p>
        <p>To: @Model.EndAddress.RoadName </p>
        <p>Departure Time: @Model.YourRoute.StartTime </p>
        <p>Arrival Time: @Model.YourRoute.ArrivalTime </p>
        <p>Seats available: @Model.YourCar.Seats</p>
        <p>Dates: </p>
        <br>
        <a class="button" asp-area="" asp-page="/EditRoute" asp-route-routeid="@Model.YourRoute.RouteId" asp-route-userId="@Model.CurrentUser.UserId" asp-route-startAddressId="@Model.StartAddress.AddressId" asp-route-endAddressId="@Model.EndAddress.AddressId">Change Route</a><br>
        <a class="button" asp-area="" asp-page="/RateYourDriver" asp-route-id="">Start Route</a><br>

        @* redirects to the route by the routeid *@
        <a class="btn" type="button" asp-page="Route" asp-route-id="@Model.YourRoute.RouteId">
            <i class="fas fa-map-marked-alt" title="View Route">View Route</i>
        </a>


        <h3>Passengers who have chosen your route</h3><br/>
        <table class="table">
            <thead>
            <tr>
                <th>Passenger</th>
                <th>Pickup Point</th>
                <th>Cancel Passenger</th>
                <th>Message(s)</th>
                <th>Reply</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var passenger in Model.PassengerList.Take(int.Parse(@Model.YourCar.Seats)))
            {
                <tr>
                    <td>
                    @foreach (var user in Model.UserList)
                    {
                        if (user.UserId.Equals(passenger.UserId))
                        {
                            <a asp-route-page="/Your Profile" asp-route-id="@passenger.UserId"
                               class="btn btn-success btn-group-lg pull-right">
                                <p>@user.FirstName @user.LastName</p>
                            </a>
                        }
                    }
                    <td>
                        <p>Pickup Point</p>
                    </td>
                    <td>
                        <form method="post">
                            <input hidden="hidden" asp-for="@passenger.UserRouteId"/>
                            <button type="submit" asp-route-DeleteID="@passenger.UserRouteId" asp-route-routeid="@passenger.RouteId" asp-route-userId="@Model.CurrentUser.UserId" asp-route-startAddressId="@Model.StartAddress.AddressId" asp-route-endAddressId="@Model.EndAddress.AddressId"
                                    onclick="return confirm('Are you sure you want to cancel?')">cancel Passenger</button>
                        </form>
                    </td>
                    <th>
                        @foreach (var message in Model.YourMessages)
                        {
                            if (message.MessageFrom == passenger.UserId || message.MessageTo == passenger.UserId && message.MessageFrom == @Model.CurrentUser.UserId || message.MessageTo == @Model.CurrentUser.UserId)
                            {
                                <p>You have message(s)</p>
                            }
                            else
                            {
                                <p>You have no message(s)</p>
                            }
                        }
                    </th>
                    <th>
                        <a asp-route-page="/MyMessages" asp-route-id="@Model.CurrentUser.UserId" 
                           class="btn btn-success btn-group-lg pull-right">
                            Reply
                        </a>
                    </th>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>You can't be found!</p>
    }
</div>