@page
@using Microsoft.VisualBasic
@model OurCarZ.Pages.DrivePageModel
@{
}
<div class="item-container">
    <br />
    <h3>Hello @Model.CurrentUser.FirstName @Model.CurrentUser.LastName Thank you for making this route.</h3><br />
    <div>
        <ul>
            <td>
                implement list of passengers here
            </td>
        </ul>
    </div>
    <p>From @Model.StartAddress.RoadName to @Model.EndAddress.RoadName</p>
    <p class="btn" type="button" asp-page="Route" asp-route-id="@Model.YourRoute.RouteId"><i class="fas fa-map-marked-alt" title="View Route"></i>Click here to see the route</p>
    <i></i>

    @* shows all messages to the userid but doesnt look very well. *@

    @foreach (var message in @Model._edb.Messages)
    {
        if (message.MessageTo.Equals(Model.CurrentUser.UserId))
        {
            <tr>
                <td>
                    @foreach (var user in Model.UserList)
                    {
                        if (user.UserId.Equals(message.MessageFrom))
                        {
                            @user.FirstName @user.LastName
                        }
                    }
                </td>
                <td>
                    @message.MessageText
                </td>
                <td>
                    @message.DateTime
                </td>
                <br />
                @if (@Model.Passenger.Equals(message.MessageFrom))
                {
                    <td>
                        @message.MessageText.Count()
                    </td>
                }
            </tr>
        }
    }
    
    @* redirects to the route by the routeid *@
    <div class="card-footer">
        <a class="btn" type="button" asp-page="Route" asp-route-id="@Model.YourRoute.RouteId"><i class="fas fa-map-marked-alt" title="View Route"></i></a>
    </div>
    <input hidden="hidden" asp-for="@Model.CurrentUser.UserId" />
</div>