@page
@model OurCarZ.Pages.EditProfileModel
@{
    ViewData["Title"] = "Edit Profile Page for User";
}

@if (Model.currentUser != null)
{
    <h2>Current User Details: </h2>
    <p>Full Name: @Model.currentUser.FirstName @Model.currentUser.LastName</p>
    <p>Email: @Model.currentUser.Email</p>
    <p>Phone Number: @Model.currentUser.PhoneNumber</p>
    <p>License Plate: @Model.currentUser.LicensePlate</p>
    <form method="post">
        <h2>Change the users details: </h2>
        <label for="firstname">First name:</label>
        <input type="text" id="@Model.FirstName" name="firstname"><br><br>
        <label for="lastname">Last name:</label>
        <input type="text" id="@Model.LastName" name="lastname"><br><br>
        <label for="email">Email:</label>
        <input type="text" id="@Model.Email" name="email"><br><br>
        <label for="phonenumber">Phone Number:</label>
        <input type="text" id="@Model.PhoneNumber" name="phonenumber"><br><br>
        <label for="licenseplate">License Plate:</label>
        <input type="text" id="@Model.LicensePlate" name="licenseplate"><br><br>

        <!-- Hidden input field is used, for storing the UserId needed to find the user, since there is no persistence between OnGet() and OnPost() -->
        <input hidden="hidden" asp-for="@Model.currentUser.UserId" />
        <input type="submit" value="Submit" onclick="return confirm('Are you sure you want to change your information?')">
    </form>
}
else
{
    <p>You can't be found!</p>
}
<br>
<br>

@if (Model.currentUser != null)
{
    <h2>Change Password: </h2>
    <p>Password: @Model.currentUser.Password</p>
    <form method="post">
        <label for="oldpassword">Old Password:</label>
        <input type="text" id="@Model.OldPassword" name="oldpassword"><br><br>

        <label for="password">New Password:</label>
        <input type="text" id="@Model.Password" name="password"><br><br>

        <label for="confirmpassword">Confirm Password:</label>
        <input type="text" id="@Model.ConfirmPassword" name="confirmpassword"><br><br>
        <!-- Hidden input field is used, for storing the UserId needed to find the user, since there is no persistence between OnGet() and OnPost() -->
        <input hidden="hidden" asp-for="@Model.currentUser.UserId" />
        <input type="submit" value="Submit" onclick="return confirm('Are you sure you want to change your password?')">
    </form>
}
else
{
    <p>You can't be found!</p>
}
