@page
@model OurCarZ.Pages.EditProfileModel
@{
    ViewData["Title"] = "Edit Profile Page for User";
}

@if (Model.currentUser != null)
{
    <h2>Current User Details: </h2>
    <p>Full Name: @Model.currentUser.FirstName @Model.currentUser.LastName</p>
    <p>Email: @Model.currentUser.Email</p>
    <p>Phone Number: @Model.currentUser.PhoneNumber</p>
    <p>License Plate: @Model.currentUser.LicensePlate</p>
    <form method="post">
        <h2>Change the users details: </h2>
        <div class="form-group">
            <label for="firstname">First name:</label>
            <input type="text" id="@Model.FirstName" name="firstname">
            <span asp-validation-for="FirstName" class="text-danger"></span><br><br>
        </div>
        <div class="form-group">
            <label for="lastname">Last name:</label>
            <input type="text" id="@Model.LastName" name="lastname">
            <span asp-validation-for="LastName" class="text-danger"></span><br><br>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="@Model.Email" name="email">
            <span asp-validation-for="Email" class="text-danger"></span><br><br>
        </div>
        <div class="form-group">
            <label for="phonenumber">Phone Number:</label>
            <input type="text" id="@Model.PhoneNumber" name="phonenumber">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span><br><br>
        </div>
        <div class="form-group">
            <label for="licenseplate">License Plate:</label>
            <input type="text" id="@Model.LicensePlate" name="licenseplate">
            <span asp-validation-for="LicensePlate" class="text-danger"></span><br><br>
        </div>
        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="text" id="@Model.Password" name="password">
            <span asp-validation-for="Password" class="text-danger"></span><br><br>
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm Password:</label>
            <input type="text" id="@Model.ConfirmPassword" name="confirmpassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br><br>
        </div>
        <div class="form-group">
            <p>Password: @Model.currentUser.Password <br></p>
            <p class="text-danger">Please input your old password here to update user-information: </p>
            
            <label for="oldpassword">Old Password:</label>
            <input type="text" id="@Model.OldPassword" name="oldpassword">
            <span asp-validation-for="OldPassword" class="text-danger"></span><br><br>
        </div>
        <!-- Hidden input field is used, for storing the UserId needed to find the user, since there is no persistence between OnGet() and OnPost() -->
        <input type="hidden" asp-for="@Model.currentUser.UserId" />
        <input type="submit" value="Submit">
    </form>
}
else
{
    <p>You can't be found!</p>
}
<br>
<br>
