@page
@model OurCarZ.Pages.EditProfileModel
@{
    ViewData["Title"] = "Edit Profile";
}
@if (Model.currentUser != null)
{
    <div class="HeroGrid">
        <div class="ProfileGrid">
            <div class="PG1"><h1>Current User Details</h1></div>
            <div class="PG2"> <i class="fas fa-user-alt bubble float-left mr-2"></i> <h6 class="mb-0 pb-0 float-left position-relative font-weak">Full Name: </h6><h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:1;"> @Model.currentUser.FirstName @Model.currentUser.LastName</h3> </div>
            <div class="PG3"> <i class="fas fa-at bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">Email: </h6> <h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:2;"> @Model.currentUser.Email </h3></div>
            <div class="PG4"> <i class="fas fa-phone bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">Phone Number: </h6> <h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:3;">@Model.currentUser.PhoneNumber</h3></div>
            <div class="PG5"> <i class="fas fa-car bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">License Plate:</h6><h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:4;">@Model.currentUser.LicensePlate</h3></div>
        </div>
        <div class="ProfileGrid2">
            <form method="post">
                <h2>Change the users details: </h2>
                <div class="form-group">
                    <label for="firstname">First name:</label><br>
                    <input class="default-form" type="text" id="@Model.FirstName" name="firstname">
                    <span asp-validation-for="FirstName" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label for="lastname">Last name:</label><br>
                    <input class="default-form" type="text" id="@Model.LastName" name="lastname">
                    <span asp-validation-for="LastName" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label><br>
                    <input class="default-form" type="text" id="@Model.Email" name="email">
                    <span asp-validation-for="Email" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label for="phonenumber">Phone Number:</label><br>
                    <input class="default-form" type="text" id="@Model.PhoneNumber" name="phonenumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label for="password">New Password:</label><br>
                    <input class="default-form" type="password" id="@Model.Password" name="password">
                    <span asp-validation-for="Password" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label for="confirmpassword">Confirm Password:</label><br>
                    <input class="default-form" type="password" id="@Model.ConfirmPassword" name="confirmpassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br>
                </div>

                <div class="form-group">
                    <label for="@Model.LicensePlate">Car License Plate, type "delete" to delete your car.</label><br>
                    <input class="default-form" type="text" asp-for="@Model.LicensePlate" />
                    <span asp-validation-for="LicensePlate" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label for="@Model.Model">Car Make (as in brand)</label><br>
                    <input class="default-form" type="text" asp-for="@Model.Model" />
                    <span asp-validation-for="Model" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label for="@Model.Year">Car Model Year</label><br>
                    <input class="default-form" type="text" asp-for="@Model.Year" />
                    <span asp-validation-for="Year" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label for="@Model.Seats">Number of seats in car (excluding driverseat)</label><br>
                    <input class="default-form" type="text" asp-for="@Model.Seats" />
                    <span asp-validation-for="Seats" class="text-danger"></span><br>
                </div>

                <div class="form-group">
                    <p class="text-danger">Please input your old password here to update user-information: </p>

                    <label for="oldpassword">Old Password:</label>
                    <input class="default-form" type="password" id="@Model.OldPassword" name="oldpassword" required>
                    <span asp-validation-for="OldPassword" class="text-danger"></span><br>
                </div>
                <!-- Hidden input field is used, for storing the UserId needed to find the user, since there is no persistence between OnGet() and OnPost() -->
                <input hidden="hidden" asp-for="@Model.currentUser.UserId" />
                <input class="ubutton" type="submit" value="Submit" onclick="return confirm('Are you sure you want to change your information?')">
            </form>
        </div>
    </div>
}
else
{
    <p>You don't appear to be logged in. Try logging in before accessing this page!</p>
}