@page
@using OurCarZ.Pages.UserPages
@model OurCarZ.Pages.MyRoutesModel
@{
}
<div class="item-container">
    <h1>Hello @LogInPageModel.LoggedInUser.FirstName @LogInPageModel.LoggedInUser.LastName. This is all your routes.</h1><br />
    <table class="table">
        <thead>
            <tr>
                <th>Start Address</th>
                <th>End Address</th>
                <th>Start Time</th>
                <th>Arrival Time</th>
                <th>Choose</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var routes in Model.myRoutes)
        {
            if (@LogInPageModel.LoggedInUser.UserId.Equals(routes.UserId))
            {
            <tr>
                @foreach (var add in Model.AllAddresses)
                {
                    if (add.AddressId.Equals(routes.StartPoint))
                    {
                        <td>@add.RoadName</td>
                    }
                }
                @foreach (var add in Model.AllAddresses)
                {
                    if (add.AddressId.Equals(routes.FinishPoint))
                    {
                        <td>@add.RoadName</td>
                        <td>@routes.StartTime</td>
                        <td>@routes.ArrivalTime</td>
                        <td>
                            <a asp-page="/DrivePage" asp-route-RouteId="@routes.RouteId"  asp-route-StartAddressId="@routes.StartPoint"  asp-route-EndAddressId="@routes.FinishPoint">Choose</a>
                        </td>
                        <td>
                            <form method="post">
                                <input hidden="hidden" asp-for="@LogInPageModel.LoggedInUser.UserId" />

                                <button type="submit" asp-route-userId="@routes.UserId" asp-route-DeleteRid="@routes.RouteId" asp-route-DeleteAid="@add.AddressId" onclick="return confirm('Are you sure you want to change your information?')">Delete</button>
                            </form>
                        </td>
                    }
                }
            </tr>
            }
        }
        </tbody>
    </table>
</div>