@page
@using OurCarZ.Model
@model OurCarZ.Pages.Past_RoutesModel
@{
}

<div class="item-container">
    <br/>

    @if (Model.CurrentUser != null)
    {
        <h3>Past Routes</h3><br/>
        <table class="table">
            <thead>
            <tr>
                <th>Driver</th>
                <th>Route start</th>
                <th>Route end</th>
                <th>Map</th>
                <th>Like</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var id in Model.RouteList)
            {
                <tr>
                    @*Denne her foreach er for at finde de ruter hvor useren er Driver*@
                    @foreach (var userRoutes in Model.UsedRoutes)
                    {
                        if (id == userRoutes.RouteId)
                        {
                            foreach (var routes in Model.UsedRoutes.Where(s => s.RouteId == id && s.ArrivalTime < DateTime.Now))
                            {
                                <td>
                                    <p>@Model.users.Where(u => u.UserId == routes.UserId).Select(u => u.FirstName).DefaultIfEmpty("--Option unknown--").First() @Model.users.Where(u => u.UserId == routes.UserId).Select(u => u.LastName).DefaultIfEmpty("--Option unknown--").First()</p>
                                </td>
                                <td>
                                    <p>address: @Model.addresses.Where(a => a.AddressId == routes.StartPoint).Select(a => a.RoadName).First() time: @routes.StartTime </p>
                                </td>
                                <td>
                                    <p>address: @Model.addresses.Where(a => a.AddressId == routes.FinishPoint).Select(a => a.RoadName).First() time: @routes.ArrivalTime </p>

                                </td>
                                <td>
                                    <a class="btn" type="button" asp-page="Route" asp-route-id="@id">
                                        <i class="fas fa-map-marked-alt" title="View Route"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn" type="button" asp-page="FavRoute" asp-route-id="@id" asp-route-routeId="@routes.RouteId">
                                        <i class="fas fa-heart" title="Like"></i>
                                    </a>
                                </td>
                            }
                        }
                    }
                    @*Denne her foreach er for at finde de ruter hvor useren er passager*@
                    @foreach (var routes in Model.PassengerRoutes.Where(p => p.RouteId == id))
                    {
                        if (Model.DB.Routes.Find(routes.RouteId).ArrivalTime < DateTime.Now)
                        {
                            <td>
                                <p>@Model.DB.Users.Find(Model.DB.Routes.Find(routes.RouteId).UserId).FirstName @Model.DB.Users.Find(Model.DB.Routes.Find(routes.RouteId).UserId).LastName</p>
                            </td>
                            <td>
                                <p>address: @Model.addresses.Where(a => a.AddressId == Model.DB.Routes.Find(routes.RouteId).StartPoint).Select(a => a.RoadName).First() time: @Model.DB.Routes.Find(routes.RouteId).StartTime </p>
                            </td>
                            <td>
                                address: @Model.addresses.Where(a => a.AddressId == Model.DB.Routes.Find(routes.RouteId).FinishPoint).Select(a => a.RoadName).First() time: @Model.DB.Routes.Find(routes.RouteId).ArrivalTime

                            </td>
                            <td>
                                <a class="btn" type="button" asp-page="Route" asp-route-id="@id">
                                    <i class="fas fa-map-marked-alt" title="View Route"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn" type="button" asp-page="FavRoute" asp-route-id="@id" asp-route-routeId="@routes.RouteId">
                                    <i class="fas fa-heart" title="Like"></i>
                                </a>
                            </td>
                        }
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>You can't be found!</p>
    }
</div>