@page "{id:int}"
@using OurCarZ.Model
@model OurCarZ.Pages.PickAPathModel
@{
}
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type='text/javascript'>
        var map, directionsManager;

        function GetMap() {
            map = new Microsoft.Maps.Map('#myMap', {
                credentials: 'AlLVvMQ7ncFUH_ZyTOTAmH0sSZvoejNtcn9OmuOtPXjsvfiRkwCDM0GFX2wNU0R0',
                /*customMapStyle: MapStyle*/
            });

            //Load the directions module.
            Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
                //Create an instance of the directions manager.
                directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);

                //Specify where to display the route instructions.
                directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });

                //Specify the where to display the input panel
                directionsManager.showInputPanel('directionsPanel');
            });
        }

        function GetDirections() {
            //Clear any previously calculated directions.
            directionsManager.clearAll();
            directionsManager.clearDisplay();

            @if (Model.Route != null)
            {
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: '@Html.Raw(@Model.CombineZipAndRoad(Model.Route.StartPoint))' }));
                @if (Model.XtraStopsDupe != null)
                {
                    foreach (int? numb in Model.XtraStopsDupe)
                    {
                        @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: '@Html.Raw(@Model.CombineZipAndRoad(numb))' }));
                    }
                }
                @if (Model.PhotopathAdr != null)
                {
                    @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: '@Html.Raw(@Model.PhotopathAdr.RoadName)' }));
                }
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: '@Html.Raw(@Model.CombineZipAndRoad(Model.Route.FinishPoint))' }));
            }
            else
            {
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: 'Roskilde, Dk' }));
                @: directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: 'København, Dk' }));
            }

            //Calculate directions.
            directionsManager.calculateDirections();
        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer>
    </script>
</head>
<body onload="GetDirections()">
    @if (Model.Route != null)
    {
    <form asp-route-id="@Model.Route.RouteId" method="post">
        <div id="myMap" style="position: relative; width: 800px; height: 600px;"></div>

        <div style="margin-top: 10px;">
            <input asp-for="@Model.StartAddress.RoadName" id="fromTbx" type="hidden" />

            <input asp-for="@Model.EndAddress.RoadName" id="toTbx" type="hidden" />

            <label asp-for="@Model.PhotopathAdr.RoadName" class="custom-control-label"></label>
            <input asp-for="@Model.PhotopathAdr.RoadName" type="text" />
            <span asp-validation-for="PhotopathAdr.RoadName"></span>

            <label asp-for="@Model.PhotopathAdr.ZipCode" class="custom-control-label"></label>
            <input asp-for="@Model.PhotopathAdr.ZipCode" type="text" />
            <span asp-validation-for="PhotopathAdr.ZipCode"></span>

            <input type="submit" value="Calculate" />
        </div>
        <fieldset style="width: 800px; margin-top: 10px;">
            <legend>Simple Custom Directions Input Panel Sample</legend>
            This sample shows how to create a simple custom input panel for direction calculations.
        </fieldset>
        <br />
        </form>
        <form asp-page-handler="request" method="post">
            <div style="margin-top: 10px;">
                <input asp-for="@Model.StartAddress.RoadName" id="fromTbx" type="hidden" />

                <input asp-for="@Model.EndAddress.RoadName" id="toTbx" type="hidden" />

                <input asp-for="@Model.PhotopathAdr" id="pather" type="hidden" />

                <input type="submit" value="Request Pickup" />
            </div>
        </form>
    }
    else
    {
        <p> something went wrong, try again? </p>
    }
</body>
</html>