@page
@using OurCarZ.Pages.UserPages
@model ProfileModel
@{
    ViewData["Title"] = "Profile Page for User";
}

@if (Model.currentUser != null)
{
<div class="HeroGrid">
    <div class="ProfileGrid">
        <div class="PG1"> <h1>Your profile</h1> </div>
        <div class="PG2"> <i class="fas fa-user-alt bubble float-left mr-2"></i> <h6 class="mb-0 pb-0 float-left position-relative font-weak">Full Name: </h6><h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:1;"> @Model.currentUser.FirstName @Model.currentUser.LastName</h3> </div>
        <div class="PG3"> <i class="fas fa-at bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">Email: </h6> <h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:2;"> @Model.currentUser.Email </h3></div>
        <div class="PG4"> <i class="fas fa-phone bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">Phone Number: </h6> <h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:3;">@Model.currentUser.PhoneNumber</h3></div>
        <div class="PG5"> <i class="fas fa-car bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">License Plate:</h6><h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:4;">@Model.currentUser.LicensePlate</h3></div>
    </div>
    <div class="ProfileGrid2">
        <div class="PG6"> <a class="ubutton" asp-area="" asp-page="/EditProfile" asp-route-id="@LogInPageModel.LoggedInUser.UserId">Edit User</a></div>
        <div class="PG7"> <a class="ubutton" asp-area="" asp-page="/Routes" asp-route-id="@LogInPageModel.LoggedInUser.UserId">Select new route</a></div>
        <div class="PG8"> <a class="ubutton" asp-area="" asp-page="/PastRoutes" asp-route-id="@LogInPageModel.LoggedInUser.UserId">Your past routes</a></div>
        <div class="PG9"> <a class="ubutton" asp-area="" asp-page="/CreateRoute" asp-route-id="@LogInPageModel.LoggedInUser.UserId">Create new route</a></div>
        <div class="PG10"> <a class="ubutton" asp-area="" asp-page="/" asp-route-id="@Model.currentUser.UserId">Your next route as driver</a></div>
        <div class="PG11"> <a class="ubutton" asp-area="" asp-page="/MyRoutes" asp-route-id="@LogInPageModel.LoggedInUser.UserId">My routes</a></div>
        <div class="PG12"> <a class="ubutton" asp-area="" asp-page="/MyMessages" asp-route-id="@LogInPageModel.LoggedInUser.UserId">My messages</a></div>
        <div class="PG13">
                <a class="ubutton" asp-route-DeleteID="@Model.currentUser.UserId" onclick="return confirm('Are you sure you want to change your Profile?')">Delete Profile</a>
        </div>

    </div>
</div>
}
else
{
<p>You don't appear to be logged in. Try logging in before accessing this page!</p>
}