@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile Page for User";
}

@if (Model.currentUser != null)
{
<div class="ProfileGrid">
    <div class="PG1"> <i class="fas fa-user-alt bubble float-left mr-2"></i> <h6 class="mb-0 pb-0 float-left position-relative font-weak">Full Name: </h6><h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:1;"> @Model.currentUser.FirstName @Model.currentUser.LastName</h3> </div>
    <div class="PG2"> <i class="fas fa-at bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">Email: </h6> <h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:2;"> @Model.currentUser.Email </h3></div>
    <div class="PG3"> <i class="fas fa-phone bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">Phone Number: </h6> <h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:3;">@Model.currentUser.PhoneNumber</h3></div>
    <div class="PG4"> <i class="fas fa-car bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">License Plate:</h6><h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:4;">@Model.currentUser.LicensePlate</h3></div>
    <div class="PG5"> <a class="ubutton" asp-area="" asp-page="/EditProfile" asp-route-id="@Model.currentUser.UserId">Edit User</a></div>
    <div class="PG6"> <a class="ubutton" asp-area="" asp-page="/" asp-route-id="@Model.currentUser.UserId">Delete Profile</a></div>
    <div class="PG7"> <a class="ubutton" asp-area="" asp-page="/" asp-route-id="@Model.currentUser.UserId">My messages</a></div>
    <div class="PG8"> <a class="ubutton" asp-area="" asp-page="/Index" asp-route-id="@Model.currentUser.UserId">Sign Out</a></div>
    <div class="PG9"> <a class="ubutton" asp-area="" asp-page="/" asp-route-id="@Model.currentUser.UserId">Select new route</a></div>
    <div class="PG10"> <a class="ubutton" asp-area="" asp-page="/" asp-route-id="@Model.currentUser.UserId">Your past routes</a></div>
    <div class="PG11"> <a class="ubutton" asp-area="" asp-page="/" asp-route-id="@Model.currentUser.UserId">Favorites</a></div>
    <div class="PG12"> <a class="ubutton" asp-area="" asp-page="/" asp-route-id="@Model.currentUser.UserId">Create new route</a></div>
    <div class="PG13"> <a class="ubutton" asp-area="" asp-page="/" asp-route-id="@Model.currentUser.UserId">Your next route as driver</a></div>
    <div class="PG14"> <a class="ubutton" asp-area="" asp-page="/" asp-route-id="@Model.currentUser.UserId">My routes</a></div>
</div>

    <br>
    
    <br>

    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
    <br>
    
}
else
{
    <p>You can't be found!</p>
}