@page
@using OurCarZ.Pages.UserPages
@model ProfileModel
@{
    ViewData["Title"] = "Profile Page for User";
}

@if (Model.currentUser != null)
{
    <h2>User found: </h2>
    <p>Full Name: @Model.currentUser.FirstName @Model.currentUser.LastName</p>
    <p>Email: @Model.currentUser.Email</p>
    <p>Phone Number: @Model.currentUser.PhoneNumber</p>
    <p>License Plate: @Model.currentUser.LicensePlate</p>
    <p>Rating: @Model.avg</p>
    <br>
    <a class="button" asp-area="" asp-page="/EditProfile" asp-route-id="@LogInPageModel.LoggedInUser.UserId">Edit User</a><br>
    <a class="button" asp-area="" asp-page="/Routes" asp-route-id="@LogInPageModel.LoggedInUser.UserId">Select new route</a><br>
    <a class="button" asp-area="" asp-page="/PastRoutes" asp-route-id="@LogInPageModel.LoggedInUser.UserId">Your past routes</a><br>
    <a class="button" asp-area="" asp-page="/CreateRoute" asp-route-id="@LogInPageModel.LoggedInUser.UserId">Create new route</a><br>
    <a class="button" asp-area="" asp-page="/MyRoutes" asp-route-id="@LogInPageModel.LoggedInUser.UserId">My routes</a><br>
    <a class="button" asp-area="" asp-page="/MyMessages" asp-route-id="@LogInPageModel.LoggedInUser.UserId">My messages</a>

    <form method="post">
        <button type="submit" asp-route-DeleteID="@Model.currentUser.UserId" onclick="return confirm('Are you sure you want to change your Profile?')">Delete Profile</button>
    </form>
}
else
{
<p>You don't appear to be logged in. Try logging in before accessing this page!</p>
}