@page
@model OurCarZ.Pages.RoutesModel
@{
    ViewData["zipCode"] = "ZipCodeSearch";
}
<div class="routes-container">
    <h1>Routes</h1>
    <br />
    <h3 onclick="animateFilters()" style="cursor: pointer; user-select: none;">Filters <i class="fas fa-chevron-right" id="chevron"></i></h3>
    <form method="post" id="filter" class="filter" style="margin-bottom: 30px;">
        @* Form for filter *@
        <input class="default-form" id="inlineFormInput" type="text" name="ZipCodeSearch" placeholder="Zip Code"/>
        <input type="date" class="default-form" name="dateOfRoute" id="dateOfRoute" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
        <button type="submit" class="ubutton">Filter</button>


    </form>
        <div class="routes">
            @foreach (var route in Model.UsedRoutes)
            {
                
                <div class="card mb-3 var-harsh anim-Load" style="height: 20rem; --i:@Model.increaseCount()">
                    <div class="card-header p-2 gradient-pattern-one">
                        <h5 class="card-title">
                            @Model.addresses.Where(a => a.AddressId == route.StartPoint).FirstOrDefault().RoadName,
                            @Model.addresses.Where(a => a.AddressId == route.StartPoint).FirstOrDefault().ZipCode,
                            @Model.addresses.Where(a => a.AddressId == route.StartPoint).FirstOrDefault().Country til
                            @Model.addresses.Where(a => a.AddressId == route.FinishPoint).FirstOrDefault().RoadName,
                            @Model.addresses.Where(a => a.AddressId == route.FinishPoint).FirstOrDefault().ZipCode,
                            @Model.addresses.Where(a => a.AddressId == route.FinishPoint).FirstOrDefault().Country
                        </h5>
                    </div>
                    <div class="card-body var-sec">
                        <p class="card-text">Kører: @Model.users.Where(u => u.UserId == route.UserId).Select(u => u.FirstName).DefaultIfEmpty("--Option unknown--").First()</p>
                        <p class="card-text">Tidspunkt: @route.StartTime </p>
                        <p class="card-text">Antal Pladser: 0 / @Model.cars.Where(c => c.LicensePlate ==
                                                                Model.users.Where(u => u.UserId == route.UserId)
                                                                .Select(u => u.LicensePlate).DefaultIfEmpty("--Option unknown--")
                                                                .First()).Select(c => c.Seats).DefaultIfEmpty("--Option unknown--").First()</p>
                    </div>
                    <div class="card-footer var-harsh">
                        @* Shows the map *@
                        <a class="btn" type="button" asp-page="Route" asp-route-id="@route.RouteId"><i class="fas fa-map-marked-alt" title="View Route"></i></a>
                        @* Shows the details of the route *@
                        <a class="btn" type="button" asp-page="RouteDetails" asp-route-id="@route.RouteId"><i class="fas fa-info-circle" title="View Details"></i></a>
                        @* If you are the creater of the route the button to edit it will appear. (To be implemented. *@
                        <a class="btn" type="button" asp-page="EditRoute" asp-route-id="@route.RouteId"><i class="fas fas fa-edit" title="Edit Route"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>

<script>
    var animated = 0;
    function animateFilters() {
        if (animated == false) {
            //Animate Filter div in
            document.getElementById('filter').classList.add("animateIn");
            document.getElementById('filter').classList.remove("disappear");

            //Animate chevron down
            document.getElementById('chevron').classList.remove("rotateUp");
            document.getElementById('chevron').classList.add("rotateDown");
            animated = 1;
        }
        else if (animated = true) {
            //animate Filter div out
            document.getElementById('filter').classList.remove("animateIn");
            document.getElementById('filter').classList.add("disappear");

            //Animate chevron up
            document.getElementById('chevron').classList.remove("rotateDown");
            document.getElementById('chevron').classList.add("rotateUp");
            animated = 0;
        }
        
    }

    $('.date').datepicker({
        multidate: true,
        format: 'dd-mm-yyyy'
    });
</script>
