@page
@model OurCarZ.Pages.SendMessageModel
@{
}
<div class="form-container">
<h1 style="text-align: center;">Send Message</h1>
<form class="form-horizontal" method="post">
    <label>From:</label><br />
    <p>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</p>


    <label>To:</label><br />
    <p>@Model.FoundUser.FirstName @Model.FoundUser.LastName</p>

    <br />

    <label asp-for="@Model.MessageText">Message</label><br />
    <textarea asp-for="@Model.MessageText" id="@Model.MessageText"></textarea><br /><br />

    <input type="submit" class="ubutton" id="sendButton" value="Send Message" />

</form>
</div>