@page
@using OurCarZ.Pages.UserPages
@model YourProfileModel
@{
    ViewData["Title"] = "Profile Page for the Found User";
}
@section Styles {
    <link href="@Url.Content("~/css/starrating.css")" rel="stylesheet" type="text/css" />
}
@if (Model.FoundUser != null)
{
    <div class="HeroGrid">

        <div class="ProfileGrid">
            <div class="PG1"> <h1>@Model.FoundUser.FirstName's Profile</h1> </div>
            <div class="PG2"> <i class="fas fa-user-alt bubble float-left mr-2"></i> <h6 class="mb-0 pb-0 float-left position-relative font-weak">Full Name: </h6><h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:1;"> @Model.FoundUser.FirstName @Model.FoundUser.LastName</h3> </div>
            <div class="PG3"> <i class="fas fa-at bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">Email: </h6> <h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:2;"> @Model.FoundUser.Email </h3></div>
            <div class="PG4"> <i class="fas fa-phone bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">Phone Number: </h6> <h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:3;">@Model.FoundUser.PhoneNumber</h3></div>
            <div class="PG5"> <i class="fas fa-car bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">License Plate:</h6><h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:4;">@Model.FoundUser.LicensePlate</h3></div>
            <div> <i class="fas fa-star bubble float-left mr-2"></i><h6 class="mb-0 pb-0 float-left position-relative font-weak">Rating:</h6><h3 class="position-relative anim-Load" style="margin-top: 1.20rem; --i:5;">@Model.avg</h3></div>
        </div>
            <div class="ProfileGrid2">
                <div class="PG7"> <a asp-page="/SendMessage" asp-route-id="@LogInPageModel.LoggedInUser.UserId" asp-route-id2="@Model.FoundUser.UserId" class="ubutton neon">Send Message To @Model.FoundUser.FirstName</a></div>
                <div class="PG8">
                    <form method="post" asp-page-handler="rate">
                        <input type="hidden" asp-for="@Model.FoundUser.UserId">
                        <input type="hidden" asp-for="@Model.CurrentUser.UserId">
                        <h2 style="text-align: center;">Rate @Model.FoundUser.FirstName</h2>
                        <span class="starRating" style="margin-left: 50%;transform: translateX(-50%);">
                            <input id="rating5" type="radio" name="usersrating" value="5" asp-for="@Model.UsersRating">
                            <label for="rating5">5</label>
                            <input id="rating4" type="radio" name="usersrating" value="4" asp-for="@Model.UsersRating">
                            <label for="rating4">4</label>
                            <input id="rating3" type="radio" name="usersrating" value="3" checked asp-for="@Model.UsersRating">
                            <label for="rating3">3</label>
                            <input id="rating2" type="radio" name="usersrating" value="2" asp-for="@Model.UsersRating">
                            <label for="rating2">2</label>
                            <input id="rating1" type="radio" name="usersrating" value="1" asp-for="@Model.UsersRating">
                            <label for="rating1">1</label>
                        </span>
                        <br /><br />
                        <input type="submit" class="ubutton" value="Submit Rating">
                    </form>
                </div>
            </div>
        </div>
            }
