@page
@using OurCarZ.Pages.UserPages
@model YourProfileModel
@{
    ViewData["Title"] = "Profile Page for the Found User";
}

@if (Model.FoundUser != null)
{
    <h2>found User: </h2>
    <p>Full Name: @Model.FoundUser.FirstName @Model.FoundUser.LastName</p>
    <p>Email: @Model.FoundUser.Email</p>
    <p>Phone Number: @Model.FoundUser.PhoneNumber</p>
    <p>License Plate: @Model.FoundUser.LicensePlate</p>
    <p>Rating: @Model.avg</p>
    <br>
    <a class="button" asp-area="" asp-page="/SendMessage" asp-route-id="@LogInPageModel.LoggedInUser.UserId" asp-route-id2="@Model.FoundUser.UserId">Send messages</a>
}
else
{
    <p>You can't be found!</p>
}