@page
@using OurCarZ.Pages.UserPages
@model YourProfileModel
@{
    ViewData["Title"] = "Profile Page for the Found User";
}
@section Styles {
    <link href="@Url.Content("~/css/starrating.css")" rel="stylesheet" type="text/css" />
}
@if (Model.FoundUser != null)
{
    <h2>found User: </h2>
    <p>Full Name: @Model.FoundUser.FirstName @Model.FoundUser.LastName</p>
    <p>Email: @Model.FoundUser.Email</p>
    <p>Phone Number: @Model.FoundUser.PhoneNumber</p>
    <p>License Plate: @Model.FoundUser.LicensePlate</p>
    <p>Rating: @Model.avg</p>
    <br>
    <a class="button" asp-area="" asp-page="/SendMessage" asp-route-id="@LogInPageModel.LoggedInUser.UserId" asp-route-id2="@Model.FoundUser.UserId">Send messages</a>

    <form method="post" asp-page-handler="rate">
        <input type="hidden" asp-for="@Model.FoundUser.UserId">
        <input type="hidden" asp-for="@Model.CurrentUser.UserId">
        <br>
        <span class="starRating">
            <input id="rating5" type="radio" name="usersrating" value="5" asp-for="@Model.UsersRating">
            <label for="rating5">5</label>
            <input id="rating4" type="radio" name="usersrating" value="4" asp-for="@Model.UsersRating">
            <label for="rating4">4</label>
            <input id="rating3" type="radio" name="usersrating" value="3" checked asp-for="@Model.UsersRating">
            <label for="rating3">3</label>
            <input id="rating2" type="radio" name="usersrating" value="2" asp-for="@Model.UsersRating">
            <label for="rating2">2</label>
            <input id="rating1" type="radio" name="usersrating" value="1" asp-for="@Model.UsersRating">
            <label for="rating1">1</label>
        </span>
        <br><br>
        <input type="submit" value="Submit">
    </form>
}
else if (Model.CurrentUser == null)
{
    <p>You appear to not be logged in. Please login before accessing this page.</p>
}
else
{
    <p>Couldn't find the specified user. Try again?</p>
}
