@using OurCarZ.Pages.UserPages
<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - OurCarZ</title>
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/95875560d8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="mb-3 color-prim sticky nav-size">

        <a style="left: 1em;" class="navbar-brand vertical-center-abs" asp-area="" asp-page="/Index"><h2>OurCarZ</h2></a>


@if (LogInPageModel.LoggedInUser != null)
                            {

        <a style="left: calc(45% - 3ch); font-size: 1.3rem;" class="font-primary d-inline-block vertical-center-abs" asp-area="" asp-page="/Routes">
            Routes</a>
            <a style="left: calc(55% - 6ch); font-size: 1.3rem;" class="font-primary d-inline-block vertical-center-abs" asp-area="" asp-page="/CreateRoute">
                Create Route</a>
    }




@if (LogInPageModel.LoggedInUser == null)
                            {
    <a style="right: 10px;" class="font-primary ubutton round float-right vertical-center-abs" asp-area="" asp-page="/UserPages/RegisterPage">
        Sign up
    </a>
    <a style="right: 110px;" class="font-primary ubutton round float-right vertical-center-abs" asp-area="" asp-page="/UserPages/LogInPage">
        Log In
    </a>
                            } else {
    <h3 style="right: 10px; cursor: pointer; user-select: none;" class="font-primary round vertical-center-abs" onclick="openProfileBox()">

@LogInPageModel.LoggedInUser.FirstName @LogInPageModel.LoggedInUser.LastName
    <i class="fas fa-user round roundborder" style="margin-right: 20px;" title="Your Profile"></i>
    </h3>
    }



    </nav>

@if(LogInPageModel.LoggedInUser != null) {
    <div class="profile-popup" id="myForm">
        <a class="nav-link font-primary" asp-area="" asp-page="/MyRoutes"><i class="fas fa-map-marked-alt"></i>My Routes</a>
        <a class="nav-link font-primary" asp-area="" asp-page="/Profile"><i class="fas fa-user-alt"></i>My Profile</a>
        <a class="nav-link font-primary" asp-area="" asp-page="/EditProfile"><i class="fas fa-edit"></i>Edit Profile</a>
        <a class="nav-link font-primary" asp-area="" asp-page="/MyMessages" asp-route-id="@LogInPageModel.LoggedInUser.UserId"><i class="fas fa-envelope"></i>My messages</a>
        <hr />
        <section>
            <p><i class="fas fa-moon"></i>Dark Theme</p>

            <div class="toggle">
                <input type="checkbox" onchange="toggleTheme()" id="toggle" aria-checked="false" ;>
                <label class="slider" for="toggle">

                </label>
            </div>
        </section>

         @{if (LogInPageModel.LoggedInUser != null && (LogInPageModel.LoggedInUser.UserId == 88))
                                {
            <hr />
            <a class="nav-link" asp-area="" asp-page="/AdminStats">Statistics</a>
                                }
        }
        <hr />
        <a class="nav-link" asp-area="" asp-page="/UserPages/LogOutPage"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </div>
    }

    <div class="container">
        <div class="loadingWrapper"><img src="~/Pictures/Logo.png" alt="logo" style="width:20vw;"></div>
        <main role="main" class="pb-3">

@RenderBody()
    </main>
    </div>

    <footer class="footer box-shadow text-muted">
        <div class="container">
            <p>&copy; 2021 - OurCarZ - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


@await RenderSectionAsync("Scripts", required: false)

    <script>
        var profilebool = 0;
        let wrapper = document.querySelector('.loadingWrapper');

        window.addEventListener('load', function () {
            wrapper.animate([

                { opacity: '1' },
                { opacity: '0' }

            ], {
                duration: 300,
                iterations: 1
            });
            this.setTimeout(function () {
                wrapper.parentElement.removeChild(wrapper);
            }, 300);
        });

        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = themeName;
        }
        // function to toggle between light and dark theme
        function toggleTheme() {

            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-light');

            } else {
                setTheme('theme-dark');

            }
        }
        // Immediately invoked function to set the theme on initial load
        (function () {
            let checkbox = document.getElementById('toggle');
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-dark');
                checkbox.setAttribute('checked', 'checked');
            } else {
                setTheme('theme-light');
                checkbox.removeAttribute('checked');
            }
        })();

        function openProfileBox() {
            if (profilebool == 0) {
                profilebool = 1;
                document.getElementById("myForm").style.display = "block";
                return;
            }
            if (profilebool == 1) {
                profilebool = 0;
                document.getElementById("myForm").style.display = "none";
                return;
            }
        }
    </script>
</body>
</html>
