@page
@model OurCarZ.Pages.UserPages.RegisterPageModel
@{
    ViewData["Title"] = "Creates user";
}

<div class="form-container">
    <h1>Opret Kunde</h1>
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.NewUser.FirstName">First name</label>
            <input asp-for="@Model.NewUser.FirstName" placeholder="Enter First Name" class="default-form" type="text" required />
            <span asp-validation-for="NewUser.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewUser.LastName" >Last name</label>
            <input asp-for="@Model.NewUser.LastName" placeholder="Enter Last Name" class="default-form" type="text" required />
            <span asp-validation-for="NewUser.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewUser.Email" >Email</label>
            <input asp-for="@Model.NewUser.Email" placeholder="Enter Email" class="default-form" type="email" required />
            <span asp-validation-for="NewUser.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewUser.PhoneNumber" >Phone number</label>
            <input asp-for="@Model.NewUser.PhoneNumber" placeholder="Enter Phone Number" class="default-form" type="tel" required />
            <span asp-validation-for="NewUser.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewUser.LicensePlate">Car <br /></label>

            <input asp-for="@Model.NewUser.LicensePlate" placeholder="Enter License Plate" class="default-form" type="text" />
            
            <small class="form-text text-muted">If you're not a driver, this field is not necessary.</small>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewUser.Password">Password</label>
            <input asp-for="@Model.NewUser.Password" placeholder="Enter Password" class="default-form" type="password" required />
            <span asp-validation-for="NewUser.Password" class="text-danger"></span>
            <label asp-for="@Model.NewUser.ConfirmPassword">Confirm password</label>
            <input asp-for="@Model.NewUser.ConfirmPassword" placeholder="Reenter Password" class="default-form" type="password" required />
            <span asp-validation-for="NewUser.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="ubutton" value="Submit">
        </div>

    </form>
</div>
    <a asp-page="Index">Home</a>