@page
@model OurCarZ.Pages.UserPages.RegisterPageModel
@{
    ViewData["Title"] = "Creates user";
}

<div class="form-container">
    <h1>Create account</h1>

            <form method="post">
                <div class="form-group">
                    <label asp-for="@Model.FirstName">First name</label>
                    <input asp-for="@Model.FirstName" placeholder="Enter First Name" class="default-form"  type="text" required />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.LastName">Last name</label>
                    <input asp-for="@Model.LastName" placeholder="Enter Last Name" class="default-form" type="text" required />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Email">Email</label>
                    <input asp-for="@Model.Email" placeholder="Enter Email" class="default-form" type="email" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.PhoneNumber">Phone number</label>
                    <input asp-for="@Model.PhoneNumber" placeholder="Enter Phone Number" class="default-form" type="tel" required />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.LicensePlate">License Plate <br /></label>
                    <input asp-for="@Model.LicensePlate" placeholder="Enter License Plate" class="default-form" type="text" />
                    <small class="form-text text-muted">If you're not a driver, this field is not necessary.</small>
                    <span asp-validation-for="LicensePlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Password">Password</label>
                    <input asp-for="@Model.Password" placeholder="Enter Password" class="default-form" type="password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <label asp-for="@Model.ConfirmPassword">Confirm password</label>
                    <input asp-for="@Model.ConfirmPassword" placeholder="Reenter Password" class="default-form" type="password" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create account" class="ubutton" />
                </div>

            </form>
</div>

  